body {
	background: $white;
	// Picture of Hills
	@include background-image(url("/images/post-12710-092492400 1282992812.png"));
	background-position: center, center;
	background-repeat: repeat;
}

p {
	color: $black;
}

.wrapper {
	@include outer-container;
}

.hide {
	display: none;
}

.invisible {
	visibility: hidden;
}

.inline {
	display: inline;
}

.api-result {

	h2 {
		margin-top: 2em;
	}

	.weather-result {
		// Results background
		@include background-image(url("/images/002-subtle-light-pattern-background-texture.jpg"));
		background-position: center, center;
		font-size: 2em;
		padding-left: .5em;
		padding-right: .5em;
		text-align:center;
		padding-top: 1em;
		color: $secondary-color;
		font-weight:bold;

		@include media ($mediumish) {
			font-size: 3em;
		}

		@include media ($largish) {
			font-size: 3.5em;
		}

		.weather-icon {
			text-align:center;
			
			img {
				background-color: white;
				border-radius: 50%;
				padding: 5px;
				height: 60px;
				margin-bottom: -30px;
				box-shadow: 1px 1px 1px 1px $black;
				@include transition(all .3s ease-in-out);

				&:hover {
				@include transform(scale(1.1) rotate(-7deg));
				}
			}	
		}
	}
}

.submit {
	text-align:center;
}
