// Color Choices

$white : #fff;
$light-gray: #DDD;
$gray : #808080;
$medium-gray: #999;

$light-blue: #B5D5CA;
$dark-blue: #B5D0D5;
$blue: #4dabdf;

$dark-gray: #D8E6E9;
$medium-gray: #DEEAEC;
$light-gray: #E3EDEF;
$black: #1F181E;
$purple: #C299FF;

// Web page Color Scheme

$primary-color: $blue;
$primary-color-dark: $dark-blue;
$primary-color-light: lighten(#B5D5CA, 47);
$secondary-color: $black;
$accent-color: $purple;

// Background
$base-background-color: white;

// Font
$base-font-color: $dark-gray;
$base-accent-color: $purple;

// Type-Setting
$sans-serif: $helvetica;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
$base-font-size: 1.25em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); 
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(7);

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border
$base-border-color: $dark-gray;


// Forms
$form-border-color: $primary-color-light;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $primary-color-dark;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

